.label-default {
    background-color: #FFF;
    margin-top: 10px;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: #DC143C;
    border-color: #ea3e10;
    width: 100%;
}
.btn-block {
    display: block;
}
.btn {
    padding: 8px 28px;
    font-weight: 400;
    white-space: normal;
    border-width: 0 0 1px;
}
.content-area-right {
   margin-top: 10px;
}

.forgot-password{
    color: #2dbd6e;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;

}