.tab button:hover {
  background-color: #af6b4c;
}

.tab button.active {
  background-color: #af6b4c;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #0000;
  background-color: #FFFF;
  background-position: center;
  border-top: none;
}
.nav-title p {
  display: block;
  margin:0px;
  color:black;
  
}
nav button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 100%;
  color: black;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d2c4a7;
  top: 0;
 
}
.navbar li {
  float: left;
}

.navbar a {
  color: white;
  float: left;
  text-align: center;
  text-decoration: none;
}

.navbar  a:hover {
  background-color: #af6b4c; 
}

a {
    text-decoration: none;    
  }
#forgot-password{
  padding-top: 50px;
  text-align: right;
}
  body {
    background: -webkit-linear-gradient(bottom,  #fbfbfb, #fff5ee);
    background-repeat: no-repeat;
    display: block;
    margin: 0px;
  }
  label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
    
    
  }
  #showPassword{
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
    padding-left: 0;
    text-align: center;
  }
  #forgot-pass {
    color: #2dbd6e;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: center;
  }
  
  #card {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 500px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }

  #card2 {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 650px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }
  #card-content {
    padding: 12px 44px;
   
  }
  #card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }
  #signup {
    color: #2dbd6e;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
  }

  #submit-btn {
    background: #048337;
    border: none;
    border-radius: 21px;
    box-shadow: 5px 1px 8px #d2c4a7;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 50px;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #a7d2b4fb;
  }
  
  .tab_button{
    background-color: #2a802d;
    color: white;
    padding: 14px 20px;
    border: none;
    margin: 10px 5px 5px 5px ;
    border-radius: 4px;
    cursor: pointer;
}
  .form {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .form-border {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 1px;
    width: 80%;
  }
  .form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding: 14px 14px 14px 14px;
    
  }
  .underline-title {
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 100%;
  }
 /*
 Forgot_password css
 */


 footer {
    color: #af6b4c;
}