/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #a3dc4ff1;
    border: 1px solid #0000;
    ;
}

body, footer, header, head{
    font-family:Arial, Helvetica, sans-serif ;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #af6b4c;
}

.tab button.active {
    background-color: #af6b4c;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #0000;
    background-color: #FFFF;
    background-position: center;
    border-top: none;
}
body {
    display: block;
    margin: 0px;
}

nav {
    background-color: #af6b4c;

}
nav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#f0ead6;

    top: 0;
}
.navbar li {
    float: left;
}
  
.navbar a {
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar  a:hover {
    background-color: #af6b4c;
   
}
.navbar a.active {
    background-color: #4CAF50;
    width: 150%;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color:  #cccccc;
    color: black;
    text-align: left;

}

.bottom-page{
    background-color: #af6b4c;   
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td:hover {
      background-color:  #4CAF50;
    }


input[type=text],input[type=password], input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit], input[type=button]{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #4CAF50;
}
input[type=submit] :active{
    background-color: #a3dc4f;
    box-shadow:  0 5px #FFFF;
    transform: translateY(4px);
}
img {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
  }

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
hr{
    border: 1px solid black;
    width: 100%;
}

