html,
body {
  margin: 0px;
  height: 100%;

}

.nav-title p {
    display: block;
    margin:  0px;
    color:black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


  nav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 100%;
    color: black;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d2c4a7;
    top: 0;
   
  }
  .navbar li {
    float: left;
  }
  
  .navbar a {
    color: white;
    float: left;
    text-align: center;
    text-decoration: none;
  }
  
  .navbar  a:hover {
    background-color: #af6b4c;
   
  }

body, #ticket_body {
    background: -webkit-linear-gradient(top,  #ffff, #ffff);
    background-repeat: no-repeat;
    display: block;
    margin: 0px;
}

.content-body{
padding: 2vh 2vh 2vh 2vh;
}

.grid-item1 { grid-area: header; }
.grid-item2 { grid-area: main; }
.grid-item3 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
}
.h3_heading{
    border-bottom: 2px solid black;
  
}
#ticketing_button_group{
    
}

.top-content{
    margin-left: 10px; 
        
}
 /* Style the tab */
.tab {
    overflow: hidden;
    background-color: #a3dc4ff1;
    border: 1px solid #0000;
    ;
}

body, header, head{
    font-family:Arial, Helvetica, sans-serif ;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #af6b4c;
}

.tab button.active {
    background-color: #048337;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #0000;
    background-color: #FFFF;
    background-position: center;
    border-top: none;
}

header {
    background-color: #f0ead6;

}
#profile_title{
    margin-right: 150px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 150px;
    margin-inline-end: 0px;
    font-weight: bold;
    }

footer{
    background-color:  #fff5ee;
    color: #af6b4c;
    text-align: left;
    
   bottom: 0;
   width: 100%;
   height: 0px; 
}

.bottom-page{
    background-color: #af6b4c;   
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
      background-color:  #af6b4c;
      
    }
tr:nth-child(even):hover {background-color: #af6b4c;}


input[type=text],input[type=password], input[type=email]{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit], input[type=button] , .modal-button, .tab_button{
    background-color: #2a802d;
    color: white;
    padding: 14px 20px;
    border: none;
    margin: 10px 5px 5px 5px ;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #4CAF50;
}
input[type=submit] :active{
    background-color: #4CAF50;
    box-shadow:  0 5px #FFFF;
    transform: translateY(4px)

}
.site_images {
    border: 1px solid #ddd;
    width: 150px;
  }

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
hr{
    border: 1px solid black;
    width: 100%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: antiquewhite; /* Fallback color */
    background-color: white; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The work order summary table*/

#table1, #table2, #table3, #table4{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
/* workorder css*/

/*.status[data-status="getPendingValue()"] {
    color : brown;
   }
   
   .status[data-status="getInProgressValue()"] {
    color : blue;
   }
   
   .status[data-status="getCompletedValue()"]:after {
    color : green
   }

   .status[data-status="getCancelledValue()"] {
    color : red
   }

.status ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }*/

  

  .ticketing_button_group
  {
      text-align: center;
      text-size-adjust: 50px;
     float:left ;
  }
  


  .status li {
    display: inline;
    
  }
 
  footer{
      height: 0;
      padding: 5px 0 5px 5px;
      font-family: 'Times New Roman', Times, serif;
      font-size:medium;
  }
/*h1 for invoice and quotation*/

#side_table{
    position: absolute;
    top: 17%;
    right: 0%;
    width: 55%;
    height: 100px;
    border: 2px solid;
}
#inv_sum{
    text-align: right;
}
.invoice h1,h1,p{
    padding: 3px 0 0 15px;
    text-align: left ;

}















/*messaging page*/
#wrapper{
    margin: 0 auto;
    padding-bottom: 25px;
    background: #eee;
    width: 600px;
    max-width: 100%;
    border: 2px solid #212121;
    border-radius: 4px;
  }
#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 300px;
    width: 530px;
    border: 1px solid #a7a7a7;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
  }
#submitmsg, #enter{
    background: #ff9800;
    border: 2px solid #e65100;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
  }



.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}
.notification:hover {
    background: red;
}
  
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}
a#exit {
    color: white;
    background: #c62828;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
}

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90,92,105,.5);
    line-height: 46px;
}

.scroll-to-top:hover {
    background: #5a5c69;
}

.rounded {
    border-radius: 0.35rem !important;
}

.border {
    border: 1px solid #e3e6f0 !important;
}

.d-inline {
    display: inline !important;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.fa-angle-up:before {
    content: "\f106";
}

.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}