.bottom-page{
  background-color: #a3dc4f;   
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td:hover {
    background-color:  #048337;
  }


input[type=text],input[type=password], input[type=email]{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], input[type=button], .accordion{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

input[type=submit]:hover {
  background-color: #45a049;
}
input[type=submit] :active{
  background-color: #a3dc4f;
  box-shadow:  0 5px #FFFF;
  transform: translateY(4px);
}
.status ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.status li {
  display: inline;
  
}
li a {
  display: block;
  padding: 8px;
}